<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-6">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Facilities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Fully equipped computer laboratory for the students.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">The institute provides the facility of well equipped and
                                            furnished library and reading room to the students to update the knowledge.
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Big play ground for students to carry out sports activities.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Separate drinking cool water with Aqua Guard and Reverse
                                            Osmosis Plant(ROP).
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Availability of hygienic food in canteen.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Girls room: Our institute shares the girls room with other
                                            sister institution which can be used by the girls in free time at their
                                            convenience.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Freeship and Scholarship: Freeship is granted to students
                                            having good academic record and belonging to poor financial status.</span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College provides classrooms with latest amenities.</span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5></h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College provides classrooms with latest amenities.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College has qualified, experienced and enthusiastic staff.

                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Management provides the facility of Hostel for girls.

                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College provides ready material for all subjects.

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College organizes relactures of experts on a regular basis.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College organizes effective study tours and industrial visits.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College strives for result oriented project works.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College organizes soft skills and career skills training programs.
                                        </span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College organizes cultural and co-curricular activities.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College has active CWDC, IQAE and Career counselling cell.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College provides personal counseling and group counseling.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">College has active placement cell.
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>