<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about/School_1.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-22">
                        Shri Dadabhai Naoroji Institute of Business Administration (DNIBA) is managed by Charotar
                        Education Society, Anand and affiliated to Sardar Patel University, Vallabh Vidyanagar. </div>
                    <p class="desc mb-10">
                        "Education is the great enabler that allows individual to unlock their
                        potential”. Literacy skills are more critical today than ever before, and they will become even
                        more vital in future. <br>
                        It has emerged from Shri V.Z. Patel Commerce College and now separated from it. Shri V. Z. Patel
                        Commerce College located at Anand, was established in the year 1997. It is affiliated to Sardar
                        Patel University, Vallabh Vidyanagar. The College has started its first course of B.Com. in the
                        same year 1997 with the enrollment of 98 students. The success of B.Com inspired us to carry
                        forward the torch of enlightening the students and offering them a chance to study for the
                        degree of<b> Bachelor of Business Administration (BBA – General)</b> which was started in the
                        year 2005
                        with the enrollment of 72 students. It was a great honour for the college to achieve 100 percent
                        result in Sardar Patel University through the first batch of BBA Students in the year 2008-2009.
                    </p>

                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="sec-title2">
                    <p class="desc mb-45">
                        It is indeed a matter of great honour and pride for us to introduce a new revolutionary course
                        BBA – ITM (Honours) in 2008. The college has developed a mechanism for Quality Assurance.
                        Innovative practices are adopted for an all round development for our students. <br>
                        In academic year 2009-10 college is accredited with ‘B’ Grade by NAAC.
                        From the Academic year 2010-2011 it has separated its courses of BBA (Gen.) and BBA –ITM
                        (Honours) under the title of Shri D. N. Institute of Business Administration. <br>
                        In academic year 2011-12 Shri D.N. Institute of Business Administration has also been certified
                        by ISO 9001:2008. <br>
                        The Institution is named on the Great personality of India – Shri Dadabhai Naoroji, who played
                        an active role in the freedom movement of the country. <br>
                        The motto of the Institute is – Foundation for Excellence which signifies development of
                        students’ personality in each and every respect. <br>
                        Young, energetic and dedicated Faculties motivate and inspire students to expand their horizons
                        by giving them fruitful knowledge about life and career. The academic activity is continuously
                        geared up and monitored to cope with emerging trends of Education. The faculty members are not
                        only providing Quality Education, but also Enriching and Excelling in imparting Professional
                        Education which is reflected in their spirit and contribution at many National and International
                        Forums.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->