<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">

                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Parimalsinh Chavda
                        <br>
                        <span>- (In. Principal),</span>
                    </h5>
                    <p style="text-align: justify;">We have started our journey with the vision of “To Become a Leading Premier Student Centric
                        Business Institute having Focus on Professional Training.” To achieve this, we have been
                        carrying out efforts relentlessly. We feel proud to provide quality education by equipping our
                        students with skills, confidence and positive approach with an overall growth.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p style="text-align: justify;"> The Institute is
                        persistently striving to perceive and maintain academic excellence at the same time encourages
                        the students to participate in various co-curricular and extra-curricular activities.</p>
                    <p style="text-align: justify;">In order to empower students Institute strives to scale new height by providing modern education,
                        development in curriculum and teaching methodologies and thereby tries to maintain balance with
                        the current scenario. Institute tries to develop would be Managers, Businessmen, and able
                        Entrepreneurs through the creation of necessary skills - EFFECTIVE Communication, Administrative
                        Abilities, Leadership Qualities. Institute also organizes various activities, campus interviews
                        and programmes to develop soft skills of students.
                    </p>
                    <p>
                        I am very much happy if you join with us.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>